a {text-decoration: none; }

.oppost { 
    background:#66A5AD;
    padding: 10px;
    padding-left: 40px; 
    border: solid 1px black; 
    margin-left: 20px;
}

.post { 
    background:#C4DEF6;
    padding: 5px;
    padding-left: 20px; 
    border: solid 1px black; 
    margin: 5px 500px 0px 20px;
}

.popup { 
    position: fixed; 
    min-width: 270px; 
    right: 11px; 
    top: 10px; 
    z-index: 999; 
    border-radius: 6px; 
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    display: none;
}

.reply {
    text-align: center;
}

.sendform {
    display:inline-block;
    width: 350px;
}

.mailfield {
    float: left;
    width: 290px;
    margin-bottom: 10px;
}

.mfield {
    width: 100%;
}

.sagebtn {
    margin-left: 6px;
}

.sendbtn {
    float: right;
    padding: 2px 30px;
    background-color: #2897A8;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.bbcodes {
    float: left;
}