{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyImBoard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'jscript.js' %}"></script>
</head>
<body>
<div class="popup"></div>
<div id="fullscreen" class="modal">
        <img class="modal-content" id="img01">
</div>
<p>Welcome</p>
<p style="font-size:160%;"><a href="https://github.com/lagonee/PyImBoard">GitHub</a></p>


{% for post in posts %}
<div id="main">
<div class="oppost"> 
    <b>#{{ post.op.post_id }} </b> {{ post.op.date|date:"d.m.Y G:i:s" }} {{ post.op.ip }}<br>
    <div class="leftblock">
        {% if post.op.media %}
            <img src="/{{ post.op.media }}" class="postimg">
        {% endif %}
        <a href="{% url 'thread' thread_id=post.op.post_id %}">Go to thread</a>
    </div>
    <div class="rightblock">
        {{ post.op.message|safe }}
    </div>
</div>

    {% for t_box in post.related_posts %}
    <div class = "post">
        {% if t_box.mail %}
            {{ t_box.mail}}<br /> 
        {% endif %}
        {% if t_box.sage %}
            SAGE<br /> 
        {% endif %}   
        <b>#{{ t_box.post_id}} </b> {{ t_box.date|date:"d.m.Y G:i:s" }} {{ t_box.ip }}<br />
        
        {% if t_box.media %}
        <div class="leftblock">
            <img src="/{{ t_box.media }}"  class="postimg">
        </div>
        {% endif %}
        
        <div class="rightblock">
            {{ t_box.message|safe }}
        </div>
    </div>
    {% endfor %}   
{% endfor %}
<br>

{% for p in pages %}
    {% if p == 0 %}
        <a href="/">[{{ p }}] </a>
    {% else %}
        <a href="{% url 'index_page' page=p %}">[{{ p }}] </a>
    {% endif %}
{% endfor %}    

<div class="reply">
    <div class="sendform">
        <h3>Create your own thread</h3>
        <form method="post" enctype="multipart/form-data" name="postform" id="postform">
            {% include "chan/form.html" %}
        </form>
    </div>
</div>
</div>

</body>
</html>