{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyImBoard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'jscript.js' %}"></script>
</head>
<body>
<div class="popup"></div>
<p>Welcome</p>

{% for post in posts %}
<div class="oppost">
    {% if post.op.mail %}
        {{ post.op.mail}} <br />
    {% endif %}

    {% if post.op.sage %}
        SAGE <br />
    {% endif %}
    <b>#{{ post.op.post_id}} </b> {{ post.op.date }} {{ post.op.ip }}<br />
    {{ post.op.message }}<br />
    <p><a href="{% url 'thread' thread_id=post.op.post_id %}">Go to thread</a></p>
</div>

    {% for t_box in post.related_posts %}
    <div class="post">
        {{ t_box.message }}
    </div>
    {% endfor %}   
{% endfor %}

{% for p in pages %}
    <a href="{% url 'index_page' page=p %}">[{{ p }}] </a>
{% endfor %}    

<div class="reply">
    <div class="sendform">
        <h3>Create your own thread</h3>
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input placeholder = "Email" name = "mail" class ="mailfield">
            <br>
            <textarea name = "message" rows = 8 placeholder = "Your message" class="mfield"></textarea><br>
            <div class="filefield">
                <input type="file" name="file">
            </div>
            <input type = "submit" value="Send" class="sendbtn">
        </form>
    </div>
</div>

</body>
</html>