{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyImBoard: {{ op_post.message|slice:":10" }}...</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'jscript.js' %}"></script>
</head>

<body>

{% load tz %}

{% if message %}
    {{ message }}
{% endif %}
<div class = "oppost">
    <b>#{{ op_post.post_id }} </b> {{ op_post.date|date:"d.m.Y G:i:s" }} {{ op_post.ip }}<br />
    {{ op_post.message }}
</div>
<hr />


{% for post in posts %}
<div class = "post">
    {% if post.mail %}
        {{ post.mail}}<br /> 
    {% endif %}
    {% if post.sage %}
        SAGE<br /> 
    {% endif %}   
    <b>#{{ post.post_id}} </b> {{ post.date|date:"d.m.Y G:i:s" }} {{ post.ip }}<br />
    {{ post.message }}
</div>
{% endfor %}
<p><a href="{% url 'index'%}">Back</a></p>

<div align = "center">
    <h3>Post in thread</h3>
    <form method="post" action="javascript:void(0);" >
        {% csrf_token %}
        <input placeholder = "Email" name = "mail" size = 30> <br>
        <textarea name = "message" rows = 10 cols = 50 placeholder = "Your message"></textarea><br>
        <input type = "checkbox" name = "sage" value="sage"> Sage
        <input type = "submit" value="Send" onclick="sendPost({{ op_post.post_id }} ,'{{ csrf_token }}');">
    </form>
</div>
    
</body>
</html>