{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyImBoard: {{ op_post.message|slice:":10" }}...</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'jscript.js' %}"></script>
</head>

<body>

{% load tz %}

<div class="popup"></div>
<div class = "oppost">
    <b>#{{ op_post.post_id }} </b> {{ op_post.date|date:"d.m.Y G:i:s" }} {{ op_post.ip }}<br />
    {{ op_post.message }}
</div>
<hr />


{% for post in posts %}
<div class = "post">
    {% if post.mail %}
        {{ post.mail}}<br /> 
    {% endif %}
    {% if post.sage %}
        SAGE<br /> 
    {% endif %}   
    <b>#{{ post.post_id}} </b> {{ post.date|date:"d.m.Y G:i:s" }} {{ post.ip }}<br />
    {{ post.message }}
    {{ post.file }}
</div>
{% endfor %}
<p><a href="{% url 'index'%}">Back</a></p>

<div class="reply">
    <div class="sendform">
        <h3>Post in thread</h3>
        <form action="{% url 'create_post' thread_id=op_post.post_id %}" method="post">
            {% csrf_token %}
            <input placeholder = "Email" name = "mail" class ="mailfield">
            <input type = "checkbox" name = "sage" value="sage" class="sagebtn"> sage
            <br>
            <textarea name = "message" rows = 8 placeholder = "Your message" class="mfield"></textarea><br>
            <div class="bbcodes">
                bbcodes should be here
            </div>
            <input type = "submit" value="Send" class="sendbtn">
        </form>
    </div>
</div>
    
</body>
</html>